@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos epicos!</h1>
    <div .myBackground>
       <picture>
           <img src="~/css/INVOR.LOGO.jpg" class="myBackground"/>
       </picture>
        </div>
</div>
